{%  extends "base.html" %}
{%  block title %}Cart{%    endblock    %}


{% block styles %}
<style type="text/css">

/* .container-fluid{
    background-image: url("static/images/loginBackground.jpg");
    width: 100%;
    height: 100vh;
     background-size: 100%;
} */


body{
     background: linear-gradient(to right, #DCDCDC, #696969);
    background-size: 100%;
}
.container-fluid{
   width: 100%;
   height: 100vh;
}

.container{
top: 200vh;
background: #fff;
margin-top: 40px;
padding: 20px;
border-radius: 25px;
box-shadow: 10px 10px 20px 0px   #000;
}
.link{
    color: Blue;
}
h1{
    padding: 40px;
    font-style: italic;
}

input, button{
    display: inline-block;
    padding: 10px;
}
#negative, #positive{
    background-color: green;
    color:white;
    border: 20px;
    border-radius: 5px;
}
</style>

<script>

        // $(document).ready(function () {
        //   $('#positive').click(function () {
        //       $('input').val(parseInt( $('input').val()) + 1);
        //   });
        //   $('#negative').click(function () {
        //     $('input').val(parseInt( $('input').val()) - 1);
        //     if ($('input').val() < 0){
        //         $('input').val("0");
        //     }
        //   });
        //   });
</script>
{% endblock %}

{%  block content   %}

<div class="container-fluid">
    <div class="container">
        <br>
        <!-- <h2 style="margin-top: 20px; font-weight:bold;">My Shopping List</h2> -->
        <h1 class="card-header bg-info text-center py-3 my-3 logo ">ShopSmart</h1>
        <h4 class="card-header bg-info text-center py-3 my-3">My Shopping List</h4>
        <div class="card ">
            <table class="table table-hover shopping-cart-wrap ">
                <thead class="text-muted ">
                    <tr >
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>
                        <th scope="col" width="200" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
					{% set ns = namespace(total=0.00) %}
					{% for item in contents %}
					{% set product = prods|selectattr('prodID', '==', item.prodID)|list|last %}
                    <tr>
                        <td width="100">
                            <figure class="media">
                                <div class="img-wrap"><img src="../static/stocks/{{item.prodID}}.jpg"
                                        class="img-thumbnail img-sm"></div>
                                <figcaption class="media-body">
                                    <h6 class="title text-truncate">{{product.name}}</h6>
                                   <!--  <dl class="param param-inline small">
                                        <dt>Size: </dt>
                                        <dd>200 lbs</dd>
                                    </dl>
                                    <dl class="param param-inline small">
                                        <dt>Color:</dt>
                                        <dd>Blue color</dd>
                                    </dl> -->
                                </figcaption>
                            </figure>
                        </td>
                        <td>
							<form action="{{request.path}}" method="POST">
								<select name="{{product.prodID}}" class="form-control" autocomplete="off" onchange="this.form.submit()">
									{% for i in range(1,product.curinv+1) %}
										{% if i == item.quantity %}
											<option value="{{i}}" selected >{{i}}</option>
										{% else %}
											<option value="{{i}}">{{i}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</form>
                                <!-- <input type="number" value="1" min="0" max="1000" step="1"/> -->
                        </td>
                        <td>
                            <div class="price-wrap">
                                <var class="price">${{product.price * item.quantity}}</var>
                                <small class="text-muted">{{product.price}} each</small>
								{% set ns.total = ns.total + (product.price * item.quantity)|float %}
                            </div>
                        </td>
                        <td class="text-right">
                            <!-- <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a> -->
							<form action='{{request.path}}' method='post'>
								<button type='submit' class="btn btn-outline-danger" name='remove' value={{product.prodID}}> × Remove</button>
							</form>
                        </td>
                    </tr>
					{% endfor %}
                </tbody>
            </table>
        </div> <!-- card.// -->
        <div class="panel-footer text-right">
        <small>&copy; ShopSmart</small>
    </div>
        <div class="col-md-12 my-4  py-4">
			<div class="float-left">
				<b>Total: ${{ns.total}}</b>
			</div>
            <div class="float-right">
                <a href="{{url_for('store')}}" class="btn link">Continue Shopping</a>
                <a href="{{url_for( 'checkout' )}}" class="btn btn-success">Checkout</a>
            </div>
        </div>
    </div>
        </div>
{%  endblock    %}
