<!DOCTYPE html>

<html>


<head>
    <!--<link rel="stylesheet" href="background_styles.css">-->
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/background_styles.css') }}">
    <!--<link rel="stylesheet" href="styles.css">-->
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="script.js" defer></script>


    <title>Shop Smart</title>



</head>

<body>
    <!--These classes are going to be used when we do styling and when we call from javascript-->
    <nav class="navbar">
        <div class="logo">Shop Smart</div>
        <div class="navbar-selection">
            <ul>
                <!--The # is a placeholder until we connect each of the pages together-->
                <li><a href="/home">Home</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Account</a></li>
            </ul>
        </div>
    </nav>
</body>


</html>