{%  extends "base.html" %}
{%  block title %}{{data}}{%    endblock    %}


 {%  block styles   %}

<style>
    .container {
        /*background-color: #696969;*/
    }

    .row {
        text-align: center;
    }
    body {
       background: linear-gradient(to right, #DCDCDC, #696969);
    }
    .carousel-item, img{
        height:750px!important;
        border-radius: 50px;
        border: 10px solid #555;

    }
    .h2 {
        font-size: 3.5rem;
    }
    .col-sm-4 {
        font-size: 1.2rem;
        color: black;

    }
    .titlehead {
        font-size: 6rem;
        color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;    }
    .cfont {
        color: #008B8B;
        font-weight: bold;
    }
   .carousel-control-prev {
    background-color: gray;
    border-radius: 35px;
    width: 10%;
   }
   .carousel-control-next {
    background-color: gray;
    border-radius: 35px;
    width: 10%;
   }
   .col-sm-4 h2 {
    font-size: 2.5rem;
   }

</style>

 {%  endblock    %} {%  block content   %}

<h1 class = "text-center titlehead text-uppercase"><b>Shop Smart</b></h1>


 <div class="container">
    <div class="row">
              <!-- <section class="col-sm-8">
            <div class="defaultImage">
                <img>
            </div>
        </section>

    </div> -->
    <section class="container">

                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/images/otherbag.webp" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class = "cfont">Premium Carry Bag</h5>
                                <p class = "cfont">Check out our store for more.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="static/images/otherbag2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class = "cfont">Leather Laptop Bag</h5>
                                <p class = "cfont">Check out store for more.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="static/images/whitebag.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class = "cfont">Pure White Designer</h5>
                                <p class = "cfont">Check out store for more.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
              <aside class="col-sm-4 font-weight-bold">
            <br>
            <em><h2>We ship anything you purchase!</h2></em>
            <br>
            <p>We strive to be the best in what we do and our best is</p>
            <p>striving to provide the best in quality both in merchandize
            <p>and services rendered to you. And thats why we offer free shipment to </p>
            <p>all of your purchases.</p>
            <br>
            <br>

        </aside>

        </div>

</div>

{%  endblock    %}
