{%  extends "base.html" %}
{%  block title %}Login Page{%    endblock    %}
{%  block content   %}

<!--<link rel="stylesheet" href="background_styles.css">
<link rel="stylesheet" href="loginstyle.css">-->
 <link rel="stylesheet" href="{{ url_for('static',filename='styles/loginstyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/background_styles.css') }}">
 <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}" >
 <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/login_form.css') }}">
         <!-- These classes are going to be used when we do styling and when we call from javascript  -->
         <nav class="navbar">
            <div class="logo">Shop Smart</div>
            <div class="navbar-selection">
                <ul>

                    <li><a href="/home">Home</a></li>
                    <li><a href="#">Store</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </div>
        </nav>
        <form class="square" action="index.html" method="post">
            <h1>Login</h1>
            <input type="text" name="" placeholder="Username">
            <input type="text" name="" placeholder="Passphrase">
            <input type="submit" name="" value="Submit">
            <button onclick="window.location.href='register.html';">Register</button>
        </form>
</html>


{%  endblock    %}
