{%  extends "base.html" %}
{%  block title %}Thank you{%    endblock    %}

{% block styles %}
<style type="text/css">


.container-fluid{
    background-image: url("static/images/loginBackground.jpg");
    width: 100%;
    height: 100vh;
     background-size: 100%;
}
h4{
    padding: 40px;
    font-style: italic;

}
</style>
{% endblock %}

{%  block content   %}
            <div class="container-fluid text-center">
                <h4 class="text-center mb-5">ShopSmart</h4>
                <h1 class="display-3">THANK YOU</h1>
                <h3>You're Now Signed Up!</h3>
                <p class="lead"><strong>Please check your email</strong> for details about your account login information.</p>
                <hr>
                <p>
                    Having trouble? <a href="">Contact us</a>
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-sm" href="/login" role="button">Login to your account</a>
                </p>
            </div>
{%  endblock    %}
