{% extends "base.html" %}
{% block title %}Store Page{% endblock %}
{% block styles %}
<style type="text/css">
    /*Start Dropdown Styles*/

    .dropbtn {
        background-color: gray;
        color: white;

        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #333;
    }

    .filterButton {
        position: relative;
        display: inline-block;
    }

    .filterContent {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .filterContent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .filterButton a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    .container {
        width: 100%;
        margin-top: 2%;
        letter-spacing: 1px;
    }
    /*End Filter Button Styles*/

    body {
        background-image: url("static/images/loginBackground.jpg");
        width: 100%;
        height: 100vh;
        background-size: 100%;
    }

    .container h2 {
        background: #008B8B;
        width: 300px;
        color: white;
        font-size: 35px;
        padding: 10px;
        height: 80px;
        border-radius: 5px;
        align-content: center;
    }

    .container h4 {
        color: white;
        background: #333;
        align-items: right;
        width: 100px;
    }

    .row {
        margin-top: 30px;
    }

    .productImage {
        width: 200px;
        display: inline-block;
        margin: 0 40px 0 0;
        height: 180px;
        border-radius: 25px;
    }

    .product-bottom h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .product-bottom h5 {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .product-top:hover {
        opacity: 1;
    }

    .product-bottom .fa {
        color: #008B8B;
        font-size: 20px;
    }
</style>

{% endblock %}
{% block content %}



<div class="container">
    <h2>Our Catalog</h2>
    <div class="filterButton">
        <button onclick="filterFunction()" class="dropbtn">Filter</button>
        <div id="myFilter" class="filterContent">
            <a href="#">Price lo-high</a>
            <a href="#">Price hi-low</a>
            <a href="#">Tops</a>
            <a href="#">Pants</a>
            <a href="#">Rating</a>
            <a href="#">Availability</a>
        </div>
    </div>
    <script>
        /* Script for the filter dropdown */
        function filterFunction() {
            document.getElementById("myFilter").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var myFilters = document.getElementsByClassName("filterContent");
                var i;
                for (i = 0; i < myFilters.length; i++) {
                    var openDropdown = myFilters[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <div class="row">
        <div class="col-md-3">
            <!-- <div class="col-8 "> -->
            <div class="product-top">
                <img class="productImage" src="static/stocks/{{stocks[36]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Drop a Rating!"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Jacket</h6>
                <h3>Female Casual jacket blazer</h3>
                <h5>$299.99</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[1]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Briefcase</h6>
                <h3>Leon Bathista Alberta briefcase</h3>
                <h5 class="mb-5">$99.99</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
                            <img class="productImage" src="static/stocks/{{stocks[35]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>T-shirt</h6>
                <h3>Faux twinset long sleeve panel black T-shirt</h3>
                <h5 class="mb-5">$89.31</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[3]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Bag</h6>
                <h3>Swift echoe bag</h3>
                <h5 class="mb-5">$69.99</h5>
            </div>

        </div>
        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[4]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Bag</h6>
                <h3>Flex leather laptop messenger bag</h3>
                <h5 class="mb-5">$89.99</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">

            <img class="productImage" src="static/stocks/{{stocks[10]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Boot</h6>
                <h3>Black ankle boot</h3>
                <h5 class="mb-5">$189.99</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">
                            <img class="productImage" src="static/stocks/{{stocks[16]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Shoe</h6>
                <h3>Shoe with beads</h3>
                <h5 class="mb-5">$145.79</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[7]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Bagpack</h6>
                <h3>Oxford backpack</h3>
                <h5 class="mb-5">$79.99</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[8]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Briefcase</h6>
                <h3>Classical men's leather briefcase</h3>
                <h5 class="mb-5">$100.99</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
                        <img class="productImage" src="static/stocks/{{stocks[19]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>T-shirt</h6>
                <h3>Woven-sunset yellow shirt</h3>
                <h5 class="mb-5">$39.59</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
             <img class="productImage" src="static/stocks/{{stocks[5]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Briefcase</h6>
                <h3>Lavaggio stone satchel bag</h3>
                <h5 class="mb-5">$199.69</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
                <img class="productImage" src="static/stocks/{{stocks[11]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Sneaker</h6>
                <h3>Walking shoe sock sneaker</h3>
                <h5 class="mb-5">$99.99</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[12]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Flats</h6>
                <h3>Ankle strap flats</h3>
                <h5 class="mb-5">$79.99</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[13]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Shoe</h6>
                <h3>Air Jordan high patent leather</h3>
                <h5 class="mb-5">$189.99</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[14]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Shoe</h6>
                <h3>Swift run shoe</h3>
                <h5 class="mb-5">$79.99</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[15]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Sandal</h6>
                <h3>Swift run shoe</h3>
                <h5 class="mb-5">$179.59</h5>
            </div>
        </div>
<!-- <"--------------------------------------------------------------------------------------------------"> -->
        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[6]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Bag</h6>
                <h3>Lavaggio stone satchel bag</h3>
                <h5 class="mb-5">$89.99</h5>
            </div>
        </div>


        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[17]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Shoe</h6>
                <h3>Black velvet point toe with crystal mix necklace</h3>
                <h5 class="mb-5">$129.99</h5>
            </div>
        </div>


        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[18]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Polo</h6>
                <h3>Black and camel strip knitted polo</h3>
                <h5 class="mb-5">$49.99</h5>
            </div>
        </div>


        <div class="col-md-3">
            <div class="product-top">
                <img class="productImage" src="static/stocks/{{stocks[9]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Shoe</h6>
                <h3>Revitt delta motorradschuhe</h3>
                <h5 class="mb-5">$159.99</h5>
            </div>
        </div>


        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[20]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Sweater</h6>
                <h3>Printed paisley crewneck sweater</h3>
                <h5 class="mb-5">$69.29</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[21]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Sweater</h6>
                <h3>Tipped wide stripe mesh polo sweater</h3>
                <h5 class="mb-5">$78.29</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[22]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Polo</h6>
                <h3>72 Hours Merino Henley</h3>
                <h5 class="mb-5">$45.55</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[23]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>Jacket</h6>
                <h3>Dark blue/burgundy basebal jacket</h3>
                <h5 class="mb-5">$87.99</h5>
            </div>
        </div>

        <div class="col-md-3">
            <div class="product-top">
                    <img class="productImage" src="static/stocks/{{stocks[24]}}.jpg">
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                    <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>T-shirt</h6>
                <h3>Clementine jersey T-shirt</h3>
                <h5 class="mb-5">$69.99</h5>
            </div>
        </div>

        <div class="col-md-3">
        <div class="product-top">
                <img class="productImage" src="static/stocks/{{stocks[25]}}.jpg">
            <div class="overlay">
                <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
                <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

            </div>
        </div>
        <div class="product-bottom text-center">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h6>Short</h6>
            <h3>Beige chino short</h3>
            <h5 class="mb-5">$29.99</h5>
        </div>
    </div>

<div class="col-md-3">
    <div class="product-top">
            <img class="productImage" src="static/stocks/{{stocks[26]}}.jpg">
        <div class="overlay">
            <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

        </div>
    </div>
    <div class="product-bottom text-center">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <h6>Pants</h6>
        <h3>Jogger pants</h3>
        <h5 class="mb-5">$39.99</h5>
    </div>
</div>
<div class="col-md-3">
<div class="product-top">
        <img class="productImage" src="static/stocks/{{stocks[27]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>T-shirt</h6>
    <h3>Jersey short-sleeve T-shirt</h3>
    <h5 class="mb-5">$49.29</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
        <img class="productImage" src="static/stocks/{{stocks[28]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Boot</h6>
    <h3>Chunky high heel black ankle boot</h3>
    <h5 class="mb-5">$139.49</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
        <img class="productImage" src="static/stocks/{{stocks[29]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Flats</h6>
    <h3>Ankle strap with buckle closure</h3>
    <h5 class="mb-5">$159.99</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
        <img class="productImage" src="static/stocks/{{stocks[30]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Sweatshirt</h6>
    <h3>Simoon tweed quarter-zip sweatshirt</h3>
    <h5 class="mb-5">$75.55</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
        <img class="productImage" src="static/stocks/{{stocks[31]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>T-shirt</h6>
    <h3>Gray long sleeve criss cross zipper shoulder T-shirt</h3>
    <h5 class="mb-5">$34.45</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
        <img class="productImage" src="static/stocks/{{stocks[32]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Sweatshirt</h6>
    <h3>Black hoodie sweatshirt</h3>
    <h5 class="mb-5">$44.21</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
        <img class="productImage" src="static/stocks/{{stocks[33]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Shirt</h6>
    <h3>Tiger print button up shirt</h3>
    <h5 class="mb-5">$46.89</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
        <img class="productImage" src="static/stocks/{{stocks[34]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Shirt</h6>
    <h3>Casual button down shirt</h3>
    <h5 class="mb-5">$74.34</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
            <img class="productImage" src="static/stocks/{{stocks[2]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Backpack</h6>
    <h3>Old survival backpack</h3>
    <h5>$49.99</h5>
</div>
</div>
<div class="col-md-3">
<div class="product-top">
<img class="productImage" src="static/stocks/{{stocks[0]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Backpack</h6>
    <h3>Canvas large camera backpack</h3>
    <h5>$59.99</h5>
</div>
</div>


<div class="col-md-3">
<div class="product-top">
<img class="productImage" src="static/stocks/{{stocks[37]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Jcket</h6>
    <h3>Autum winter zipper</h3>
    <h5>$89.99</h5>
</div>
</div>



<div class="col-md-3">
<div class="product-top">
<img class="productImage" src="static/stocks/{{stocks[38]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>Jacket</h6>
    <h3>Female jacket windbreaker</h3>
    <h5>$129.99</h5>
</div>
</div>


<div class="col-md-3">
<div class="product-top">
<img class="productImage" src="static/stocks/{{stocks[39]}}.jpg">
    <div class="overlay">
        <button type="button" class="btn btn-secondary" title="Add to Cart"><i class ="fa fa-shopping-cart"></i></button>
        <button type="button" class="btn btn-secondary" title="Review Item"><i class="fa fa-heart"></i></button>

    </div>
</div>
<div class="product-bottom text-center">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <h6>shoe</h6>
    <h3>Metallic wrap red sole sandals</h3>
    <h5>$999.99</h5>
</div>
</div>
    </div>


    {% endblock %}
