<!-- {%  extends "base.html" %}
{%  block title %} {%    endblock    %}
{%  block content   %}

 {%  block styles   %}
 <style type="text/css">
 .jumbotron{
      /* background-image: url("static/images/loginBackground.jpg"); */
     width: 100%;
     height: 100vh;
     background-size: 100%;
 }

 </style>
 {%  endblock    %}
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Upload Product into the database</h1>
    <br>
    <form class="" action="{{url_for('upload_product')}}" method="POST"  enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file( class="btn btn-dark"  ) }}
        {{form.submit(  class="btn btn-primary"  ) }}
    </form>
  </div>
</div>

{%  endblock    %} -->
