body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #e90a0afa;
}

.square {
    width: 280px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ecf0f1;
    text-align: center;
    border-radius: 25px;
}

.square h1 {
    color: #243e36;
    font-weight: 500;
}

.square input[type="text"],
.square input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid red;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #2c3e50;
    border-radius: 24px;
    transition: 0.25s;
}

.square input [type="submit"]:hover,
.square button :hover {
    background: #27ae60;
}

.square input[type="submit"],
.square button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #27ae60;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #2c3e50;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-transform: uppercase;
}

.square input[type="submit"]:hover,
.square button :hover {
    background: #27ae60;
}

.square button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #c2a83e;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #2c3e50;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-transform: uppercase;
}

.square button:hover {
    background: #c2a83e;
}
